.Footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  padding: 1em;
  justify-content: center;
  margin-bottom: .1em;
  background-color: black;
  color: #fff;
}